form:last-child {
  display: flex;
}

#msg{
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
}

#msg input:first-child {
  width: 75vw;
}

li {
  list-style: none;
}


#counter{
  display: flex;
}

